@model ALPHA_DGS.Models.Partijserie

@{ ViewData["Index"] = "Create"; }

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<!-- select2-bootstrap4-theme -->
<link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">

<h1>Create</h1>

<h4>Partijserie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PsJaarletter" class="control-label"></label>
                <input asp-for="PsJaarletter" class="form-control" />
                <span asp-validation-for="PsJaarletter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PsVan" class="control-label"></label>
                <input asp-for="PsVan" class="form-control" />
                <span asp-validation-for="PsVan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PsTot" class="control-label"></label>
                <input asp-for="PsTot" class="form-control" />
                <span asp-validation-for="PsTot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PsHerk" class="control-label"></label>
                <input asp-for="PsHerk" class="form-control" />
                <span asp-validation-for="PsHerk" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts
{

    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
}
