

<p4>
    Hallo welkom naar DGS Magazijn Webapp - Dylaan Omer
</p4>

<br /></br>

<p3>Welkom naar de live build (GEBRUIKER)</p3>

<br /> </br>
<br /> </br>
<br /> </br>


<p>Als u niet bent aangemeld ga aub via de Aanmeld knop hier onder of via rechtsboven Aanmelden</p>

<p>Zonder rechten ga je geen toegang hebben bij alle gedeeltes van deze Pagina</p>

<p> Lot Series/Users/Roles/ zijn alleen voor de SuperAdmin (website gaat niet werken als je er op klikt omdat je geen rechten heb)</p>

<button class="nav-item">
        <a class="nav-link text-black" asp-controller="Account" asp-action="Login">Aanmelden</a>
    </button>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">

</script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $("#btnShowModal").click(function () {
        $("#loginModal").modal('show');
    });

    $("#btnHideModal").click(function () {
        $("#loginModal").modal('hide');
    });
</script>

<script src="jquery.min.js" type="text/javascript"></script>
<script src="jquery-ui.min.js" type="text/javascript"></script>
<link href="keyboard.css" rel="stylesheet" type="text/css" />
<script src="jquery.keyboard.js" type="text/javascript"></script>
<script src="jquery.keyboard.extension-typing.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#keyboard').keyboard({
            preventPaste: true,
            autoAccept: true
        })
            .addTyping();
    });
</script>